:root {
  --granite: grey;
  --skrongundy: #2d0000;
  --color: #05a5e4;
  --white: #e2e2e2;
  --white-white: #fdfdfd;
  --black: black;
  --electric: #cfff00;
  --email-orange: #ffb24d;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  background-color: var(--granite);
  color: var(--skrongundy);
  font-family: Helveticaneueltstd Md, sans-serif;
  font-size: 25px;
  line-height: 30px;
  margin-top: 40px;
}

.section {
  width: 100vw;
  height: auto;
  margin-top: 4.375rem;
}

.container {
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.hero-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 0;
  line-height: 1;
  display: flex;
}

.heading-1 {
  text-align: center;
  letter-spacing: -1px;
  max-width: 490px;
  font-family: Helveticaneueltstd Md, sans-serif;
  font-size: 32.49px;
  font-weight: 400;
  line-height: 43px;
}

.heading-1.hero-heading {
  max-width: 30.625rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
  line-height: 2.6875rem;
}

.cdj-wrapper {
  justify-content: center;
  display: flex;
  position: relative;
}

.worked-with-wrapper {
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.list-item-txt {
  color: var(--skrongundy);
  text-decoration: none;
}

.image-wrapper {
  justify-content: center;
  width: auto;
  min-width: auto;
  display: flex;
}

.image {
  min-width: 11.875rem;
  min-height: auto;
}

.image.green-p {
  margin-bottom: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: block;
}

.text-wrapper {
  flex-direction: column;
  align-items: center;
  min-width: auto;
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.text-block {
  text-align: center;
  max-width: 28.125rem;
}

.cdj-2 {
  min-width: 350px;
  max-width: 500px;
}

.wide-image {
  border-radius: 1px;
  min-width: 32.1875rem;
  max-width: 32.1875rem;
  height: auto;
  min-height: auto;
  margin-top: .625rem;
  margin-bottom: .625rem;
  font-size: 1.5625rem;
  line-height: .0625rem;
}

.footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.small-text {
  color: var(--skrongundy);
  font-size: 20px;
  text-decoration: none;
}

.small-text.footer-link {
  text-transform: uppercase;
}

.footer-wrapper {
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 1.25rem;
  display: flex;
}

.footer-link-wrapper {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.prime-logo {
  width: 2.6875rem;
  min-width: auto;
  max-width: none;
  display: block;
  position: absolute;
  top: 2.4375rem;
  left: 6.40625rem;
  right: auto;
}

.jog-wheel {
  min-width: 55px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 464px;
  bottom: auto;
  left: 0;
  right: 0;
}

.utility {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 2.4375rem;
  left: 23.7813rem;
  right: 55.2188rem;
}

.jog-wheel {
  z-index: auto;
  opacity: 1;
  transform-style: preserve-3d;
  background-color: rgba(207, 255, 3, 0);
  background-image: url('../images/JOGWHEEL-CENTER.svg');
  background-position: 0 0;
  background-size: cover;
  border-radius: 100px;
  width: 3.34375rem;
  min-width: auto;
  height: 3.34375rem;
  min-height: auto;
  padding-bottom: 0;
  top: 29.0625rem;
  right: -.0625rem;
}

.button-rectangle {
  background-color: #0042ff;
  background-image: linear-gradient(90deg, #232323, #191919);
  border: 1px solid rgba(113, 113, 113, .7);
  border-radius: 1px;
  justify-content: center;
  align-items: center;
  width: 2.8125rem;
  height: .6875rem;
  margin-left: .3125rem;
  margin-right: .3125rem;
  padding: 0;
  font-size: 1.5625rem;
  display: flex;
  position: relative;
  box-shadow: inset 0 .5px #858585;
}

.button-rectangle.source {
  background-image: linear-gradient(98.67deg, #e5e5e5, #6c6c6c 27.79%, #272727);
  width: 2.8125rem;
  height: .6875rem;
}

.button-rectangle-text {
  z-index: auto;
  color: var(--color);
  text-transform: uppercase;
  align-items: center;
  width: auto;
  min-width: auto;
  height: auto;
  min-height: auto;
  padding-top: .125rem;
  font-size: 5px;
  line-height: .9;
  display: flex;
  position: absolute;
}

.button-rectangle-text.rectangle-text-white {
  color: var(--white);
  font-size: .3125rem;
}

.button-rectangle-text.call-peso {
  z-index: auto;
  opacity: 1;
  filter: blur(3px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.button-rectangle-wrapper {
  justify-content: center;
  width: 20rem;
  min-width: auto;
  margin-left: -.3125rem;
  margin-right: -.3125rem;
  display: flex;
  position: absolute;
  bottom: 42rem;
}

.button-circle-border {
  border: 3.868px solid #ffb24d;
  border-radius: 128.946px;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  margin: 0;
  padding-left: 0;
  display: flex;
  position: static;
}

.button-circle-border.book {
  border-color: #37c32b;
  position: relative;
}

.button-circle-inside {
  z-index: 10;
  background-color: #4c4c4c;
  border: 2.58px #838383;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32.8px;
  height: 32.8px;
  display: flex;
  position: relative;
}

.button-circle-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: auto;
  height: auto;
  min-height: auto;
  display: block;
  position: static;
  top: auto;
  bottom: 160px;
  left: 24.5px;
  right: auto;
}

.button-circle-text {
  z-index: 40;
  color: var(--white-white);
  font-family: Microgramma D Extended, sans-serif;
  font-size: 5.41px;
  font-weight: 700;
  text-decoration: none;
  position: static;
}

.book-now {
  z-index: 40;
  color: var(--white);
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: Microgramma D Extended, sans-serif;
  font-size: 5.41px;
  display: flex;
  position: static;
  top: auto;
  bottom: 97px;
  left: 28.5px;
  right: auto;
}

.email-play-button {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 6%;
  left: 5%;
  right: auto;
}

.button-circle-inside-stroke {
  z-index: 1;
  background-color: #4c4c4c;
  border: 2.58px #838383;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  display: flex;
  position: absolute;
}

.html-embed {
  position: fixed;
}

.link-block {
  text-decoration: none;
}

.list-item-link {
  color: var(--skrongundy);
  text-decoration: none;
}

.page-wrapper {
  overflow: visible;
}

.page-wrapper.overflow-hidden {
  overflow: hidden;
}

.link {
  color: var(--skrongundy);
}

.background-video {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.call-peso-link {
  font-size: 1.5625rem;
}

.padding-global {
  padding-left: 1.25px;
  padding-right: 1.25px;
}

.padding-section-medium {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.padding-bottom {
  padding-bottom: 3.75rem;
}

.cdj-screen {
  width: 18.9063rem;
  min-width: auto;
  height: 10.3438rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10%;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-1.hero-heading {
    min-width: 490px;
  }

  .text-block, .link {
    color: var(--skrongundy);
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .link-block {
    text-decoration: none;
  }
}

@media screen and (max-width: 479px) {
  .section {
    height: 2045px;
  }

  .container {
    justify-content: center;
    display: block;
    transform: translate(0, -430px)scale(.71);
  }

  .heading-1.hero-heading {
    width: auto;
    height: auto;
    min-height: auto;
  }

  .cdj-wrapper {
    max-width: 520px;
    min-height: auto;
  }

  .worked-with-wrapper {
    text-align: center;
  }

  .wide-image {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-wrapper {
    margin-bottom: 0;
  }

  .jog-wheel {
    transform: scale3d(1none, 1none, 1none);
  }

  .background-video {
    display: block;
  }
}


@font-face {
  font-family: 'Helveticaneueltstd Md';
  src: url('../fonts/HelveticaNeueLTStd-Md.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Microgramma D Extended';
  src: url('../fonts/Microgramma-D-Extended-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}